<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.tigrex.mh.mapper.SystemRoleMapper">

    <resultMap id="SystemRoleMap" type="com.tigrex.mh.entity.po.SystemRole">
        <id column="code" property="code" javaType="String" jdbcType="VARCHAR"/>
        <result column="name" property="name" javaType="String" jdbcType="VARCHAR"/>
    </resultMap>

    <select id="selectRolesByUserCode" resultMap="SystemRoleMap">
        select role.code, role.name from system_role role
        left join system_user_role_relation re on role.code = re.role_code
        where re.user_code = #{code,jdbcType=VARCHAR}
    </select>
</mapper>